[Unit]
Description=cast-and-record
Wants=network-online.target
After=network.target network-online.target media-pi-KINGSTON.mount

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/cast-and-record
ExecStart=/bin/bash run.sh "Big Speakers" /media/pi/KINGSTON/set.mp3

[Install]
WantedBy=multi-user.target
